
:root {
	--basic-blask: #000000;
	--basic-white: #FFFFFF;
	--basic-blue: #81B3D2;
	--focus-blue: #669EC0;
	--active-blue: #5496BD;
	--basic-grey: #EEEEEE;
	--basic-brown: #766357;
	--focus-brown:#604E43;
	--active-brown: #503E33;
	--basic-back: #888888;
	--basic-text: #333333;
	--activ-brown: #766357;
	--footer-buck: rgba(255, 255, 255, 0.9);
	--fon-img: #c2f0ea;
	--fon-img-second: #8ac3eb;
	--fon-rating:#F2F2F2;
	--text-riting:#666666;
	--triangle: #CACACA;
	--triangle-hover:#000000;
	--triangle-active:#81B3D2;
	
}

body {
	min-width: 1220px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: var(--basic-text);
	text-transform: uppercase;
	background-color: var(--basic-white);	
	
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
 }
 
 img {
	max-width: 100%;
	height: auto;
}



/* шапка */

.main-header {
	position: relative;
	width: 1200px;	
	margin: auto;
	background-color: var(--basic-white); 	
	/* outline: red solid 1px; */
}


.site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left:  62px;
	padding-right: 62px;
	margin: 0px;
	list-style: none;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	background-color: var(--basic-white);
}
.list-item {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 10px;
	margin-right: 10px;
	
	

}

.site-navigation a {
	text-decoration: none;
	color: var(--basic-black);
}
.logo-sedona {
	position: absolute;
	top: 0px;
	left: 531px;
}

/*ДОБАВИТЬ АКТИВАЦИЮ МЕНЮ*/
.list-item a:focus,
 .list-item a:hover  {
	color: var(--basic-blue);
}
.list-item a:active {
	color: var(--focus-brown);
	opacity: 0.3;
}


/*контент*/

.main-content {
	width: 1200px;
	margin: auto;
}
 /*картинка*/
.background-slogan {
	background-color: var(--fon-img);
	padding-top: 77px;
	padding-bottom: 80px;
	text-align: center;
	background-image: url("../img/bac_sedona.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

/*слоган*/
.slogan {
	padding-top: 42px;
	padding-bottom: 51px;
	text-align: center;
	background-color: var(--basic-white);
}
.slogan article {
	font-size: 21px;
	line-height:26px;
	font-weight: 700;
	color: var(--basic-blask);
	
}
.slogan h2 {
	font-size: 14px;
	line-height: 26px;
	color: var(--basic-text);
}

/*преймущества*/


.reason-list {
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-wrap: wrap;
	
}

.reason-img {
	width: 400px;
	text-align: center;
	padding-top: 47px;
	padding-bottom: 54px;
	background-color: var(--basic-blue);
}

.reason-img h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;	
	color: var(--basic-white);
	
}
.reason-img p {
	font-size:14px;
	line-height:21px;
	font-weight:400;	
	color: var(--basic-white);
	
}
.reason-first-type {
	display: flex;
	flex-wrap: wrap;
}
.option-reason-city {
	list-style: none;
	display: grid;
	grid-template-columns: 400px 400px 400px;
	
}
.list-reason-city {
	text-align: center;
	margin-bottom: 82px;
	margin-top: 60px;
}
.img-position {
	order: 1;
}
.other-reason {
	background-color: var(--basic-grey);
}
.other-reason h3 {
	color: var(--bacic-black);
}
.other-reason p {
	color: var(--bacic-black);
}

.interest {
	margin: 0px;
	padding-top: 58px;
	text-align: center;
	background-color: var(--basic-weight);
	
}
.interest h2 {
	font-size: 30px;
	line-height: 24px;
	font-weight: 700;
}

/*форма*/


.button-center {
	text-align: center;
	position: relative;
}

.button-request {
	width: 568px;
	padding: 30px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: var(--basic-white);
	border: none;
	background-color: var(--basic-brown);
}
.search-form {
	
	width: 568px;
	box-sizing: border-box;
	position: absolute;
	left: 391px;
	background-color: var(--basic-white);
	padding-top: 61px;
	padding-bottom: 55px;
	padding-left: 45px;
	padding-right: 45px;
		
}




.time-in {
	display: flex;
	margin-bottom: 30px;
	
}
.label-data {
    width: 420px;
	height: 38px;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	background-color: var(--basic-white);

}
.input-data {
	
	width: 298px;
	border: 0px;
	padding-left: 13px;
	margin-left: 15px;
	height: 36px;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: var(--basic-black);
	background-color: var(--fon-rating);
}
.button-speech {
	box-sizing: border-box;
	width: 33px;
	margin-left: 0px;
	padding: opx;
	cursor: pointer;
	border: 0px;
	background-color: var(--fon-rating);
	
	
}

/*
::-webkit-input-placeholder {
	color: var(--bacic-black);
	font-family: "PT Sans", Arial, sans-serif;
}
*/




.button-search-hotel {
	width: 458px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	border: none;
	color: var(--basic-white);
	padding-top: 16px;
	padding-bottom: 16px;
	
	
	background-color: var(--basic-blue);
}

/*подвал*/
 


